@charset "utf-8";
/* CSS Document */

#wrap{position:relative;width:950px;margin:0 auto;font-size:12px;}
#header{position:relative;height:158px;background:url(../img/content_top.png) no-repeat top left;}
#content{position:relative;border-top:4px solid #1476ec;}