<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">
	<div layout:fragment="contentFragment">
		<div id="wrap">
			<form method="post" th:action="@{/policy/permit}" th:object="${dto}" id="content">
				<div class="line pd_t40">
					<!-- 본문시작 -->
					<h3>입사지원 시 개인정보 수집 및 이용에 대한 안내</h3>

					<h1 class="mr_t30"><b>수집하는 개인정보의 항목</b></h1>
					<div class="section_policy w885">
						<div>
							회사는 정확하고 효율적인 입사지원 관련 업무를 수행하기 위하여 입사지원 및 합격자 통보, 입사와 관련된 문의 응답, 취업보호 대상자의 확인을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br /><br />
							- 성명, 외국인등록번호(외국인의 경우), 이메일 주소, 지원 이력, 전화번호(유/무선), 사진, 주소, 출신학교, 학력, 학점, 전공, 경력사항 <br />
							- 자격사항, 연수사항, 가족사항, 병역 사항 (미필의 경우 미필 사유), 포트폴리오, 자기소개<br /><br />
							회사는 <span>홈페이지(http://www.ktnet.co.kr)</span> 웹 문서를 통한 사용자 입력 방법으로 개인정보를 수집하며,<br />
							경우에 따라 입사진행과정에서 출력된 형태의 종이문서 혹은 이메일로 일부 정보를 수집할 수도 있습니다.
						</div>
						<p aria-label="c1"><input id="c1" th:field="*{agreeChk1}" type="checkbox" class="chekbox_type01" />수집하는 개인정보의 항목에 동의합니다.</p>
					</div>

					<h1 class="mr_t30"><b>개인정보 수집 및 이용목적</b></h1>
					<div class="section_policy w885">
						<div>
							입사전형 진행, 지원자의 입사 지원서 수정, 합격 여부 확인, 회사의 합격 또는 불합격 및 기타 채용관련 사항과 관련한 입사 지원자와의 의사소통, 학력 및 경력사항, 자격증빙 확인
						</div>
						<p><input type="checkbox" th:field="*{agreeChk2}" class="chekbox_type01" />수집하는 개인정보의 항목에 동의합니다.</p>
					</div>

					<h1 class="mr_t30"><b>개인정보의 보유 및 이용기간</b></h1>
					<div class="section_policy w885">
						<div>
							입사지원자의 개인정보는 회사의 인력 풀에 저장되어, 채용이 필요한 경우 해당 인력 풀에서 상시 채용을 위하여 이용됩니다. <br />입사지원자가 개인정보의 삭제를 아래에 기재된 담당자의 이메일로 요청하게 될 경우 지체 없이 해당 정보를 삭제합니다.
						</div>
						<p><input type="checkbox" th:field="*{agreeChk3}" class="chekbox_type01" />개인정보의 항목에 동의합니다.</p>
					</div>

					<div class="btn_center2">
						<span class="gray_button2"><button type="gray_button2" onclick="go_link('wrt01')">다음</button></span>
					</div>

<!--					<div class="w885 mr_t35">-->
<!--						<div class="name_box ">-->
<!--							<dl class="name_1">-->
<!--								<dt>지원자명</dt>-->
<!--								<dd><input type="text" class="input_t1 w165 bd_n"/></dd>-->
<!--							</dl>-->
<!--							<dl class="name_2">-->
<!--								<dt>주민등록번호</dt>-->
<!--								<dd><input type="text" class="input_t1 w165 bd_n"/></dd>-->
<!--							</dl>-->
<!--						</div>-->

<!--						<div class="btn_center2">-->
<!--							<span class="gray_button2"><button type="gray_button2" onclick="go_link('wrt01')">다음</button></span>-->
<!--						</div>-->
<!--					</div>-->
					<!-- //본문시작 -->
				</div><!-- /.line -->
			</form><!-- /#content -->
	<!--		<div id="footer">Copyright 2020 KTNET All Rights Reserved.</div>-->
		</div><!-- /#wrapper -->
		<!-- policy.html 고유 스크립트 추가 -->
		<th:block layout:fragment="script">
			<script th:src="@{/js/page/policy.js}"></script>
		</th:block>
	</div>
</html>
