<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<title>ktnet 인재채용</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />
</head>
<body>
	<div id="wrap"><div id="header">			
			<div class="header_in">
				<h1><a href="#"><img src="img/top_inc_title.png" alt="ktnet인재채용"></a></h1>	
				<a href="http://www.ktnet.com" class="ktnetlogo" style=""><img src="img/top_inc_ktnetlogo.png" alt="KTNET" ></a>		
			</div>			
		</div><!-- /#header -->

		<div id="content">
			<div class="line pd_t110">
				
				<!-- 본문시작 -->
				<div class="section_ap2">
					<h4>이영하</h4>
					<dl class="ov1"><!-- 첫번째 과정 표시할때 이곳에' class=ov1' 클래스를 줍니다.-->
						<dt class="step1">&nbsp;</dt>
						<dd>[ 심사중 ]</dd>
					</dl>
					<p class="ar1"><img src="img/arrow.png" alt="" /></p>
					<dl class=""><!-- 두번째 과정 표시할때 이곳에' class=ov2' 클래스를 줍니다.-->
						<dt class="step2">&nbsp;</dt>
						<dd>[ 2차면접안내 ]</dd>
					</dl>
					<p class="ar2"><img src="img/arrow.png" alt="" /></p>
					<dl class=""><!-- 세번째 과정 표시할때 이곳에' class=ov3' 클래스를 줍니다.-->
						<dt class="step3">&nbsp;</dt>
						<dd>[ 신체검사안내 ]</dd>
					</dl>
					<p class="ar3"><img src="img/arrow.png" alt="" /></p>
					<dl class="" style="width:110px !important;"><!-- 네번째 과정 표시할때 이곳에' class=ov4' 클래스를 줍니다.-->
						<dt class="step4">&nbsp;</dt>
						<dd>[ 최종발령보기 ]</dd>
					</dl>
				</div>
				<!-- //본문시작 -->

			</div><!-- /.line -->
		</div><!-- /#content -->
		<div id="footer">Copyright 2020 KTNET All Rights Reserved.</div>
	</div><!-- /#wrapper -->
	
</body>
</html>
