<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/default">

<div layout:fragment="contentFragment">
	<div id="wrap">
		<div id="content">
			<div class="container">
				<ul>
					<li><a th:href="@{/wrt01}"><img src="img/process01_on.png" class="icn"/></a>
						<div class="txts bold">STEP 01</div>
						<div class="txt bold">신상정보</div> </li>
					<li class="arrow"></li>
					<li><a th:href="@{/wrt02}"><img src="img/process02_off.png" class="icn" /></a>
						<div class="txts">STEP 02</div>
						<div class="txt">자격/면허</div></li>
					<li class="arrow"></li>
					<li><a th:href="@{/wrt03}"><img src="img/process03_off.png" class="icn" /></a>
						<div class="txts">STEP 03</div>
						<div class="txt">자기소개서</div></li>
				</ul>

					<!-- 본문시작 -->
				<form name="userForm" method="post" th:object="${dto}" enctype="multipart/form-data">
					<div class="view2 w885">
						<table summary="지원구분" class="w885">
						<caption>"</caption>
							<colgroup>
								<col width="108px" />
								<col width="177px" />
								<col width="108px" />
								<col width="177px" />
								<col width="108px" />
								<col width="*" />
							</colgroup>
							<tr>
								<th scope="col">지원구분</th>
								<td scope="col">
									<p class="w175 mr_b5" th:text="*{applyInfoGubun}">신입</p>
								</td>
								<th scope="col">직종</th>
								<td scope="col">
									<select name="" class="select_type01 w170">
										<option value="">직종1</option>
										<option value="">직종2</option>
										<option value="">직종3</option>
									</select>
								</td>
								<th scope="col">수험번호</th>
								<td scope="col">
									<input type="hidden" th:field="${user.applyNumber}">
									<p type="text" th:text="*{applyNumber}" class="mr_b5 w175"></p>
								</td>
							</tr>
							<tr>
								<th scope="col">지원분야</th>
								<td scope="col" colspan="3">
									<select name="" class="select_type01 w300">
										<option value="">전산</option>
										<option value="">분야2</option>
										<option value="">분야3</option>
									</select>
								</td>
								<td scope="col" colspan="3">&nbsp;</td>
							</tr>
						</table>
					</div>

					<h1 class="mr_t40">신상정보</h1>
					<div class="view2 w885">
						<table summary="신상정보" class="w885">
						<caption>신상정보</caption>
							<colgroup>
								<col width="108px" />
								<col width="177px" />
								<col width="108px" />
								<col width="177px" />
								<col width="108px" />
								<col width="*" />
							</colgroup>
							<tr>
								<td scope="col" colspan="2" rowspan="6" style="background:none;">
									<div class="section_photo">
										<dl>
											<div id="image_preview" >
												<img th:src="${user.file?.storedFilePath}" th:field="${user.file?.storedFilePath}" style="min-width: 150px;max-width: 200px;max-height: 200px;">
											</div>
											<dd>
												<input type="file" id="img" accept=".jpg,.jpeg,.png,.gif"  th:name="pictureFile" class="file_btn mr_l5 mr_t7"/>
											</dd>
											<dd class="bd_n txt">
												<em>※</em>
												<span>현재 저장된 파일명 :</span><span style="color:black; important!" th:text="${user.file?.originalFileName}" ></span>
												<br />BMP, JPG만 가능합니다. (사이즈500kb이내)
											</dd>
										</dl>
									</div>
								</td>
								<th scope="col">성명</th>
								<td scope="col"><input type="text" th:field="${user.name}" class="input_t1 w160"/></td>
								<th scope="col">한문</th>
								<td scope="col"><input type="text" th:field="${user.cName}" class="input_t1 w175"/></td>
							</tr>
							<tr>
								<th scope="col">주민등록번호</th>
								<td scope="col"><input type="text" class="input_t1 w160"/></td>
								<th scope="col">이메일(필수)</th>
								<td scope="col" style="font-size:11px;color:#828282;"><input type="text" th:field="${user.email}" class="input_t1 w175 mr_b5"/><br /><em style="font-size:12px;">※</em><b> 메일로 합격통보</b>합니다.</td>
							</tr>
							<tr>
								<th scope="col" rowspan="3">주소</th>
								<td scope="col" colspan="3"><input type="text" class="input_t1 w90"/> - <input type="text" class="input_t1 w90"/><span class="gray_button mr_l5"><button type="gray_button" style="width:79px;padding:0 0 2px 0;">우편번호 검색</button></span></td>
							</tr>
							<tr>
								<td scope="col" colspan="3"><input type="text" class="input_t1 w_p97"/></td>
							</tr>
							<tr>
								<td scope="col" colspan="3"><input type="text" class="input_t1 w_p97"/></td>
							</tr>
							<tr>
								<th scope="col">(집)전화</th>
								<td scope="col"><input type="text" th:field="${user.homeNumber}" class="input_t1 w160"/></td>
								<th scope="col">휴대폰</th>
								<td scope="col"><input type="text" th:field="${user.phoneNumber}" class="input_t1 w175"/></td>
							</tr>
							<tr>
								<th scope="col">신장</th>
								<td scope="col"><input type="text" class="input_t1 w140"/> cm</td>
								<th scope="col">체중</th>
								<td scope="col"><input type="text" class="input_t1 w140"/> kg</td>
								<th scope="col">혼인여부</th>
								<td scope="col">
									<select name="isMarried" class="select_type01 w170">
										<option value="false">선택</option>
										<option value="true">기혼</option>
										<option value="false">미혼</option>
									</select>
								</td>
							</tr>
							<tr>
								<th scope="col">특기</th>
								<td scope="col"><input type="text" th:field="${user.speciality}" class="input_t1 w160"/></td>
								<th scope="col">취미</th>
								<td scope="col"><input type="text" th:field="${user.hobby}" class="input_t1 w160"/></td>
								<th scope="col">종교</th>
								<td scope="col"><input type="text" th:field="${user.religion}" class="input_t1 w175"/></td>
							</tr>
						</table>
					</div>

					<h1 class="mr_t40">병역정보</h1>
					<div class="view2 w885">
						<table summary="병역정보" class="w885">
						<caption>병역정보</caption>
							<colgroup>
								<col width="108px" />
								<col width="177px" />
								<col width="108px" />
								<col width="177px" />
								<col width="108px" />
								<col width="*" />
							</colgroup>
							<tr>
								<th scope="col">역종구분</th>
								<td scope="col">
									<select name="" class="select_type01 w170">
										<option value="">예비역</option>
										<option value="">현역</option>
										<option value="">현역1</option>
									</select>
								</td>
								<th scope="col">군별</th>
								<td scope="col">
									<select name="" class="select_type01 w170">
										<option value="">육군</option>
										<option value="">공군</option>
										<option value="">해군</option>
									</select>
								</td>
								<th scope="col">병과</th>
								<td scope="col">
									<select name="" class="select_type01 w170">
										<option value="">보병</option>
										<option value="">보병1</option>
										<option value="">보병2</option>
									</select>
								</td>
							</tr>
							<tr>
								<th scope="col">계급</th>
								<td scope="col"><input type="text" class="input_t1 w160"/></td>
								<th scope="col">군번</th>
								<td scope="col"><input type="text" class="input_t1 w160"/></td>
								<th scope="col">복무기간</th>
								<td scope="col"><input type="text" class="input_t1 w70"/> - <input type="text" class="input_t1 w70"/></td>
							</tr>
							<tr>
								<th scope="col">전역구분</th>
								<td scope="col"><input type="text" class="input_t1 w160"/></td>
								<th scope="col">면제사유</th>
								<td scope="col" colspan="3"><input type="text" class="input_t1 w_p97"/></td>
							</tr>
						</table>
					</div>

					<h1 class="mr_t40">특례보훈</h1>
					<div class="view2 w885">
						<table summary="특례보훈" class="w885">
						<caption>특례보훈</caption>
							<colgroup>
								<col width="108px" />
								<col width="177px" />
								<col width="108px" />
								<col width="177px" />
								<col width="108px" />
								<col width="*" />
							</colgroup>
							<tr>
								<th scope="col">특례구분</th>
								<td scope="col">
									<select name="" class="select_type01 w170">
										<option value="">전문연구</option>
										<option value="">전문연구2</option>
										<option value="">전문연구3</option>
									</select>
								</td>
								<th scope="col">특례편입일</th>
								<td scope="col"><input type="text" class="input_t1 w160"/></td>
								<th scope="col">특례만료일</th>
								<td scope="col"><input type="text" class="input_t1 w175"/></td>
							</tr>
							<tr>
								<th scope="col">특례편입</th>
								<td scope="col">
									<select name="" class="select_type01 w170">
										<option value="">신규</option>
										<option value="">신규1</option>
										<option value="">신규2</option>
									</select>
								</td>
								<th scope="col">신체등급</th>
								<td scope="col">
									<select name="" class="select_type01 w170">
										<option value="">현역</option>
										<option value="">현역</option>
										<option value="">현역1</option>
									</select>
								</td>
								<td scope="col" colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<th scope="col">보훈대상</th>
								<td scope="col">
									<select name="" class="select_type01 w170">
										<option value="">비대상</option>
										<option value="">대상</option>
									</select>
								</td>
								<th scope="col">보훈번호</th>
								<td scope="col"><input type="text" class="input_t1 w160"/></td>
								<td scope="col" colspan="2">&nbsp;</td>
							</tr>
						</table>

						<div class="btn_center2">
							<span class="gray_button3"><button type="gray_button3" th:formaction="@{/user/tmpSave}">이전</button></span>
							<span class="gray_button2"><button type="gray_button2" onclick="alert('임시저장완료');" th:formaction="@{/user/tmpSave}">임시저장</button></span>
							<span class="blue_button"><button type="blue_button" th:formaction="@{/user/save}">저장</button></span>
						</div>
					</div>
						<!-- //본문시작 -->
				</form>

			</div>
			</div><!-- /.container -->
		</div><!-- /#content -->
	<!-- wrt_01_.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
		<script th:src="@{/js/page/wrt_01_.js}"></script>
	</th:block>
	</div><!-- /#wrap -->
</html>
